.detail {
  padding-top: 70px;
  padding-bottom: 100px;

  .detail-back {
    margin-bottom: 40px;

    .back-button {
      background-color: #cecece;
      width: 170px;

      &:hover {
        background-color: #b4b4b4;
      }
    }
  }

  .detail-coin-items {

    .detail-coin-item {
      &.detail-coin-info {
        width: 460px;

        .detail-coin-info-short {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .detail-coin-info-short-logo {
            background-size: 35px 35px;
            background-repeat: no-repeat;
            background-position: center;
            width: 35px;
            height: 35px;
          }

        }

        .detail-coin-info-price-usd {
          margin-top: 20px;
          font-family: "Inter", sans-serif;
          font-weight: 700;
          font-size: 20px;
        }

        .detail-coin-info-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          .detail-coin-info-text-title {

          }

          .detail-coin-info-text-number {
            font-family: "Inter", sans-serif;
            font-weight: 700;
          }
        }

        .detail-coin-info-button {
          margin-top: 20px;

          .detail-button {
            width: 200px;
          }
        }
      }

      &.detail-coin-chart {
        margin-top: 50px;

        .chart-buttons {
          display: flex;
          align-items: center;
          column-gap: 20px;

          .chart-button {

            .chart-btn {
              height: 25px;
              padding: 3px 5px;
              box-sizing: border-box;
              background-color: #8E8E8E;
              font-size: 14px;
              color: #FFFFFF;

              &:hover {
                background-color: #797979;
              }

              &:disabled {
                background-color: #bdbdbd;
                cursor: not-allowed;
              }
            }
          }
        }
      }


    }



  }

}

